<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom container"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-bicebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="bi bi-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">Valor BJJ Academy</h6>
          <p>
            At Valor Jiu-Jitsu Academy, we are dedicated to empowering
            individuals through the art of Brazilian Jiu-Jitsu, providing
            top-notch training for all ages and skill levels in a supportive and
            inclusive environment. Join us to achieve your fitness goals, build
            confidence, and become part of our vibrant martial arts community.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Links</h6>
          <p>
            <a routerLink="/" class="text-reset">Home</a>
          </p>
          <p>
            <a routerLink="/schedule" class="text-reset">Schedule</a>
          </p>
          <p>
            <a routerLink="/instructors" class="text-reset">Instructors</a>
          </p>
          <p>
            <a routerLink="/contact" class="text-reset">Contact</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">links</h6>
          <p>
            <a routerLink="/programs/kids" class="text-reset">Kids/Teens</a>
          </p>
          <p>
            <a routerLink="/programs/adult" class="text-reset">Adult</a>
          </p>
          <p>
            <a routerLink="/programs/womans" class="text-reset">Womans Only</a>
          </p>
          <p>
            <a routerLink="/programs/boxing" class="text-reset">Boxing</a>
          </p>
          <p>
            <a routerLink="/programs/strength" class="text-reset"
              >Strength and Conditioning</a
            >
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p>
            <i class="bi bi-house-door-fill"></i>
            <a
              href="https://www.google.ca/maps/@43.447691,-80.6963163,9.25z?entry=ttu"
              target="_blank"
            >
              123 Main St, Anytown, Canada 12345</a
            >
          </p>
          <p>
            <i class="bi bi-envelope-fill"></i>
            info&copy;example.com
          </p>
          <p><i class="bi bi-phone-fill"></i> (555)555-5555</p>
          <p><i class="bi bi-phone-fill"></i> (555)555-5555</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    &copy; 2024 Copyright:
    <a
      class="text-reset fw-bold"
      href="https://websmithcreations.com/"
      target="_blank"
      >WebSmithCreations.com</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
