<h1 class="text-center mt-5">Strength and Conditioning</h1>
<div class="container content">
  <div class="content row mt-5 g-5">
    <div class="col-md-5">
      <img src="assets/strength1.avif" class="img-fluid w-100" alt="..." />
    </div>
    <div class="col-md-7 d-flex justify-content-center flex-column">
      <h5>Elevate Your Athletic Performance</h5>
      <p>
        At Valor Jiu-Jitsu Academy, we understand that peak performance in
        martial arts requires more than just technical skills. Our Strength and
        Conditioning program is meticulously designed to enhance your overall
        athleticism, supporting your BJJ and boxing training. As the head coach,
        I am dedicated to helping our students achieve their fitness goals and
        reach new levels of performance.
      </p>
      <p>
        Our program focuses on core strength, agility, endurance, and explosive
        power. We incorporate a variety of exercises, including weightlifting,
        plyometrics, and cardiovascular training, ensuring you build a balanced
        and robust physique. Whether you're an athlete looking to improve
        performance or someone seeking overall fitness, our program offers the
        expertise and guidance you need.
      </p>
    </div>

    <div class="col-md-5">
      <img src="assets/strength2.avif" class="img-fluid w-100" alt="..." />
    </div>
    <div class="col-md-7 d-flex justify-content-center flex-column">
      <h5>Build Resilience and Strength</h5>
      <p>
        As the head coach, I believe that a strong and resilient body is the
        foundation for success in any martial art. Our program is tailored to
        meet the needs of athletes at all levels, focusing on functional
        strength, cardiovascular health, and flexibility.
      </p>
      <p>
        Our diverse range of exercises and training techniques ensures you build
        the physical and mental toughness needed for martial arts and beyond.
        The supportive and motivating environment at Valor Jiu-Jitsu Academy
        will push you to challenge your limits and achieve your fitness goals.
        Join us to develop the strength and resilience necessary to excel.
      </p>
    </div>

    <div class="col-md-5">
      <img src="assets/strength3.avif" class="img-fluid w-100" alt="..." />
    </div>
    <div class="col-md-7 d-flex justify-content-center flex-column">
      <h5>Achieve Your Fitness Goals</h5>
      <p>
        At Valor Jiu-Jitsu Academy, our Strength and Conditioning program
        complements our martial arts training, helping you achieve your fitness
        goals. As the head coach, I am passionate about providing a holistic
        approach to training that enhances both physical and mental well-being.
      </p>
      <p>
        Our program improves athletic performance through strength, endurance,
        speed, and agility training. Utilizing methods like circuit training,
        weightlifting, and high-intensity interval training (HIIT), we keep
        workouts dynamic and effective. Whether preparing for a competition,
        recovering from an injury, or aiming for optimal fitness, our program
        offers the support and expertise you need to succeed.
      </p>
    </div>
  </div>
</div>
