<div
  class="text-white d-flex justify-content-center align-items-center flex-column hero"
>
  <h1 class="mb-3">Valor BJJ</h1>
  <h4 class="mb-3">7 Day Free Trial</h4>
  <a
    data-mdb-ripple-init
    class="btn btn-outline-dark btn-lg join-btn"
    routerLink="/contact"
    role="button"
    >Join Now!</a
  >
</div>
<h2 class="text-center m-5">Welcome to Valor BJJ!</h2>
<div class="container">
  <div class="content mt-5 row g-5">
    <div class="col-md-5">
      <img src="assets/photo1.avif" alt="" class="w-100" />
    </div>
    <div class="col-md-7 d-flex flex-column justify-content-center">
      <h5>Discover the Power of Brazilian Jiu-Jitsu</h5>
      <p>
        Welcome to Valor BJJ, where we transform lives through the art and
        discipline of Brazilian Jiu-Jitsu (BJJ). Our gym is a vibrant community
        dedicated to helping you achieve your fitness, self-defense, and
        personal growth goals. Whether you're a beginner or a seasoned
        practitioner, we have a program tailored for you.
      </p>
      <p>
        At Valor BJJ, we believe in creating a supportive and inclusive
        environment where everyone can thrive. Our experienced and passionate
        instructors are committed to guiding you on your journey, ensuring you
        learn techniques effectively and safely.
      </p>
    </div>
    <!-- <div class="col-md-12 mt-5">
      <h5 class="mb-3">Programs for All Ages and Levels</h5>
      <p>
        <span>Kids Programs:</span> Our kids' classes are designed to build
        confidence, discipline, and physical fitness in a fun and supportive
        environment. With a variety of age-specific classes, your child will
        learn valuable skills while making new friends. Don't miss our exciting
        week-long summer camp, packed with activities that will keep your child
        engaged and active.
      </p>
      <p>
        <span>Adult Programs:</span> Whether you're looking to get fit, learn
        self-defense, or compete, our adult BJJ programs cater to all levels.
        Our experienced instructors will guide you through every step of your
        journey, ensuring you achieve your goals in a safe and encouraging
        atmosphere.
      </p>
      <p>
        <span>Women's Only Programs:</span> We understand that some women may
        feel more comfortable training in a women-only setting. Our specialized
        classes provide a supportive space for women to learn and grow in their
        BJJ practice without any pressure or discomfort.
      </p>
      <p>
        <span>Strength and Conditioning:</span> Enhance your BJJ training with
        our comprehensive cardio and weight training programs. Our
        state-of-the-art facilities and knowledgeable trainers will help you
        build the strength and endurance needed to excel on the mats.
      </p>
    </div> -->
    <div class="col-md-5">
      <img src="assets/tiger.jpg" alt="" srcset="" class="w-100" />
    </div>
    <div class="col-md-7 mt-5 d-flex flex-column justify-content-center">
      <h5>Meet Our Head Instructor</h5>
      <p>
        Our head instructor, Tigris "Stripes" Morales, is a highly accomplished
        BJJ competitor with multiple championship titles. With years of
        experience and a passion for teaching, Tigris "Stripes" Morales is
        dedicated to helping each student reach their full potential. Training
        under Tigris "Stripes" Morales means learning from the best and joining
        a community of driven and supportive athletes.
      </p>
    </div>
    <div class="col-md-5">
      <img src="assets/team.jpg" alt="" srcset="" class="w-100" />
    </div>
    <div class="col-md-7 d-flex flex-column justify-content-center">
      <h5>Join Us Today!</h5>
      <p>
        At Valor BJJ, we're more than just a gym – we're a family. Come and
        experience the camaraderie, challenge yourself, and discover the
        transformative power of Brazilian Jiu-Jitsu. We look forward to
        welcoming you to our community and supporting you on your journey to
        greatness.
      </p>
      <p>
        Visit us today or
        <a routerLink="/contact" routerLinkActive="active">contact</a>
        us to learn more about our programs and how you can get started!
      </p>
    </div>
  </div>
</div>
