<h1 class="text-center mt-5">Womans Only</h1>
<div class="container">
  <div class="content row mt-5 g-5">
    <div class="col-md-5">
      <img src="assets/woman1.avif" class="img-fluid w-100" alt="..." />
    </div>
    <div class="col-md-7 d-flex justify-content-center flex-column">
      <h5>Empowering Women Through Brazilian Jiu-Jitsu</h5>
      <p>
        At Valor Jiu-Jitsu Academy, we believe that Brazilian Jiu-Jitsu is not
        just a martial art but a powerful tool for personal growth and
        empowerment. Our Women’s Only classes are designed to provide a
        supportive and inclusive environment where women can learn self-defense,
        build confidence, and improve their physical fitness.
      </p>
      <p>
        Our classes focus on practical techniques that are effective for
        self-defense, allowing women to feel more secure and capable in their
        everyday lives. Beyond the physical benefits, our Women’s Only classes
        foster a sense of community and camaraderie among our students. It’s
        inspiring to see women supporting each other, celebrating each other’s
        progress, and forming lasting friendships.
      </p>
    </div>

    <div class="col-md-5">
      <img src="assets/woman2.avif" class="img-fluid w-100" alt="..." />
    </div>
    <div class="col-md-7 d-flex justify-content-center flex-column">
      <h5>Building Confidence and Skills in Women’s Only Classes</h5>
      <p>
        Our Women’s Only classes are tailored to meet the unique needs and goals
        of our female students. Whether you are new to martial arts or an
        experienced practitioner, our program offers a supportive and inclusive
        atmosphere where you can thrive. We focus on teaching effective
        techniques for self-defense, improving physical fitness, and enhancing
        overall well-being.
      </p>
      <p>
        Training in a women-only setting allows our students to feel comfortable
        and confident as they learn and grow. It’s a space where you can
        challenge yourself, celebrate your achievements, and connect with other
        like-minded women. Our classes are more than just a workout; they are a
        journey of self-discovery and personal empowerment.
      </p>
    </div>

    <div class="col-md-5">
      <img src="assets/woman3.avif" class="img-fluid w-100" alt="..." />
    </div>
    <div class="col-md-7 d-flex justify-content-center flex-column">
      <h5>Discover the Benefits of Women’s Only Brazilian Jiu-Jitsu Classes</h5>
      <p>
        Our Women’s Only classes are designed to teach practical self-defense
        techniques that are effective and accessible to women of all ages and
        abilities. We focus on building a strong foundation of BJJ skills while
        promoting physical fitness, mental resilience, and personal empowerment.
        Whether you are interested in self-defense, improving your health, or
        simply looking for a new and challenging activity, our classes offer
        something for everyone.
      </p>
      <p>
        One of the key benefits of our Women’s Only classes is the sense of
        community and support that develops among our students. Training
        alongside other women who share similar goals and challenges creates a
        positive and motivating atmosphere. Our classes are a place where you
        can push your limits, celebrate your progress, and build lasting
        friendships.
      </p>
    </div>
  </div>
</div>
