<h1 class="text-center mt-5">Adult</h1>
<div class="container">
  <div class="content row mt-5 g-5">
    <div class="col-md-5">
      <img src="assets/adult1.jpg" class="img-fluid w-100" alt="..." />
    </div>
    <div class="col-md-7 d-flex justify-content-center flex-column">
      <h5>White Belt Fundamentals</h5>
      <p>
        Welcome to the White Belt Fundamentals program at Valor Jiu-Jitsu
        Academy. This class is specifically designed for beginners who are new
        to Brazilian Jiu-Jitsu. We understand that starting something new can be
        intimidating, which is why we focus on creating a welcoming and
        supportive environment. In this program, you'll learn the essential
        techniques and concepts that form the foundation of BJJ. Our experienced
        instructors will guide you through basic positions, escapes, and
        submissions, ensuring you develop a solid understanding and confidence
        on the mats. Join us and take the first step on your BJJ journey with
        the support of a community that’s dedicated to your growth and success.
      </p>
    </div>

    <div class="col-md-5">
      <img src="assets/adult2.webp" class="img-fluid w-100" alt="..." />
    </div>
    <div class="col-md-7 d-flex justify-content-center flex-column">
      <h5>No Gi/Submission Wrestling</h5>
      <p>
        Our No Gi/Submission Wrestling program is perfect for those looking to
        enhance their grappling skills without the traditional gi. This dynamic
        class focuses on the principles of submission wrestling, emphasizing
        speed, agility, and technique. Training without the gi allows for a
        different style of grappling that can be both challenging and
        exhilarating. You'll learn a variety of submissions, takedowns, and
        positional strategies that are applicable in both sport and self-defense
        scenarios. Whether you’re new to No Gi or looking to sharpen your
        existing skills, this class offers an exciting and practical approach to
        grappling.
      </p>
    </div>

    <div class="col-md-5">
      <img src="assets/adult3.avif" class="img-fluid w-100" alt="..." />
    </div>
    <div class="col-md-7 d-flex justify-content-center flex-column">
      <h5>Gi Classes</h5>
      <p>
        In our Gi Classes, we delve into the rich traditions and techniques of
        Brazilian Jiu-Jitsu with the gi. Training with the gi allows for a
        deeper exploration of grips, control, and technical precision. These
        classes cover a wide range of techniques, from fundamental movements to
        advanced strategies, suitable for all skill levels. You'll learn how to
        effectively use the gi to execute submissions, escapes, and sweeps. Our
        Gi Classes are designed to provide a comprehensive understanding of BJJ,
        enhancing your ability to control and submit opponents while building a
        strong foundation of discipline and respect.
      </p>
    </div>

    <div class="col-md-5">
      <img src="assets/adult4.webp" class="img-fluid w-100" alt="..." />
    </div>

    <div class="col-md-7 d-flex justify-content-center flex-column">
      <h5>Competition Classes</h5>
      <p>
        For those looking to take their training to the next level, our
        Competition Classes offer an intense and focused environment to prepare
        for tournaments. This program is tailored for individuals who are
        serious about competing and improving their competitive edge. You'll
        train under the guidance of our experienced coaching staff, who bring a
        wealth of knowledge from their own competitive successes. These classes
        emphasize advanced techniques, conditioning, strategy, and mental
        preparation, ensuring you're ready to perform at your best in any
        competition. Join our Competition Classes and push yourself to new
        heights, surrounded by teammates who share your dedication and passion
        for Brazilian Jiu-Jitsu.
      </p>
    </div>
  </div>
</div>
