<h1 class="text-center mt-5">Kids / Teens</h1>
<div class="container">
  <div class="content row mt-5 g-5">
    <div class="col-md-5">
      <img src="assets/kids1.avif" class="img-fluid w-100" alt="..." />
    </div>
    <div class="col-md-7 d-flex justify-content-center flex-column">
      <h5>Tiny Grapplers (Ages 3-5)</h5>
      <p>
        Welcome to our Tiny Grapplers program, designed specifically for our
        youngest BJJ enthusiasts! At this age, children are full of energy and
        curiosity, and our classes aim to channel that enthusiasm into fun and
        educational activities. Through playful drills and basic Jiu-Jitsu
        movements, your child will develop important motor skills, balance, and
        coordination. Our Tiny Grapplers program is all about creating a
        positive first experience with martial arts, fostering a love for
        physical activity, and building a foundation for future success in
        Brazilian Jiu-Jitsu.
      </p>
    </div>

    <div class="col-md-5">
      <img src="assets/kids2.avif" class="img-fluid w-100" alt="..." />
    </div>
    <div class="col-md-7 d-flex justify-content-center flex-column">
      <h5>Little Warriors (Ages 6-8)</h5>
      <p>
        Our Little Warriors program is tailored for children ages 6 to 8, a
        critical period for developing both physical and mental skills. In these
        classes, we focus on fundamental BJJ techniques, instilling discipline,
        respect, and teamwork. Your child will learn self-defense skills while
        gaining confidence and improving their fitness. Our experienced
        instructors create a supportive and engaging environment where kids can
        thrive, make friends, and enjoy the process of learning. The Little
        Warriors program is perfect for children ready to take their first steps
        toward mastery in Brazilian Jiu-Jitsu.
      </p>
    </div>

    <div class="col-md-5">
      <img src="assets/kids3.avif" class="img-fluid w-100" alt="..." />
    </div>
    <div class="col-md-7 d-flex justify-content-center flex-column">
      <h5>Junior Champions (Ages 9-15)</h5>
      <p>
        The Junior Champions program is designed for our older kids, ages 9 to
        15, who are ready to dive deeper into the art of Brazilian Jiu-Jitsu.
        This program emphasizes more advanced techniques, strategy, and sparring
        in a safe and controlled setting. As your child progresses, they will
        gain a deeper understanding of BJJ, enhancing their problem-solving
        abilities, resilience, and sportsmanship. Our goal is to equip our
        Junior Champions with the skills and mindset needed to succeed both on
        and off the mats. Whether your child aims to compete or simply enjoy the
        benefits of BJJ, this program will challenge and inspire them to reach
        their full potential.
      </p>
    </div>
  </div>
</div>
