<h1 class="text-center mt-5">Instructors</h1>
<div class="container">
  <div class="content row mt-5 g-5">
    <div class="col-md-5">
      <img src="assets/tiger.jpg" alt="" class="img-fluid w-100" />
    </div>
    <div class="col-md-7 d-flex justify-content-center flex-column">
      <p>Tigris "Stripes" Morales</p>
      <p>
        Tigris "Stripes" Morales is the head instructor at Valor Jiu-Jitsu
        Academy. With a fierce yet graceful approach, Tigris has mastered
        Brazilian Jiu-Jitsu, earning accolades in numerous international
        competitions, including the Wild Grappling Championships. Renowned for
        his agility, strength, and precision, Tigris teaches with an emphasis on
        balance, technique, and mental fortitude. His students admire his
        ability to seamlessly blend power with finesse, making him a revered
        figure in the BJJ community. Tigris is dedicated to cultivating
        discipline and respect in his students, ensuring they excel both on and
        off the mats.
      </p>
    </div>
    <div class="col-md-5">
      <img src="assets/rino.jpg" alt="" class="img-fluid w-100" />
    </div>
    <div class="col-md-7 d-flex justify-content-center flex-column">
      <p>Rhino "The Guard" Jenkins</p>
      <p>
        Rhino "The Guard" Jenkins is a highly skilled Brazilian Jiu-Jitsu
        instructor and a formidable presence on the mats. Standing at an
        impressive height and possessing immense strength, Rhino has adapted his
        natural attributes to excel in the sport. Known for his unbreakable
        guard and powerful submissions, he has won several BJJ tournaments,
        including the prestigious Animal BJJ Championships. Rhinos teaching
        approach combines rigorous physical training with a focus on technique
        and strategy, making him a beloved coach at the Safari Grappling
        Academy. His dedication to the art and his unique perspective inspire
        both human and animal students alike.
      </p>
    </div>
    <div class="col-md-5">
      <img src="assets/gorillia.jpg" alt="" class="img-fluid w-100" />
    </div>
    <div class="col-md-7 d-flex justify-content-center flex-column">
      <p>Goro "The Grip" Strong</p>
      <p>
        Goro "The Grip" Strong is a renowned Brazilian Jiu-Jitsu instructor at
        Valor BJJ Academy. Known for his incredible strength and unparalleled
        grip, Goro has dominated the BJJ scene, winning multiple titles in the
        Primate Grappling Championships. His teaching style focuses on
        leveraging natural strength and developing impeccable technique, making
        him a favorite among students. Goro emphasizes the importance of
        resilience and strategic thinking, inspiring his students to push their
        limits. His dedication to the art of BJJ and his unique approach to
        training have earned him a respected place in the martial arts
        community.
      </p>
    </div>
    <div class="col-md-5">
      <img src="assets/girl.jpg" alt="" class="img-fluid w-100" />
    </div>
    <div class="col-md-7 d-flex justify-content-center flex-column">
      <p>Felina "Shadow" Martinez</p>
      <p>
        Felina "Shadow" Martinez is a distinguished Brazilian Jiu-Jitsu
        instructor at Valor BJJ Academy. With her swift and elusive style,
        Felina has earned multiple titles, including the Women's World BJJ
        Championship. Known for her agility, precision, and tactical brilliance,
        she is both a fierce competitor and an inspiring coach. Felina's
        teaching philosophy centers on empowering her students, focusing on
        technique, mental toughness, and adaptability. Her ability to connect
        with students and her dedication to their progress make her a beloved
        and respected figure in the BJJ community.
      </p>
    </div>
  </div>
</div>
